.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 32px;
}

/* Medium screens */
@media (max-width: 868px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Small screens */
@media (max-width: 580px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.title {
    color: black;
    text-align: center;
    font-size: 64px;
    padding: 32px;
}